<div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="green">
                              
                              <h3>Add survey simple and easy.</h3>
                              <h3>Fill in all fields and you finished.</h3>
                              <p class="category">Please fill all fields</p>
                              
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Add survey</h4>
                        <p class="category">
                            
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i</i> Simple
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="orange">
                        <div class="ct-chart" id="emailsSubscriptionChart"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Check survey</h4>
                        <p class="category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="red">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Edit or Delete survey</h4>
                        <p class="category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
     
     <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header" style="background-color: #9dc54a">
                        <h4 class="title">Create your own survey</h4>
                        <p class="category">Please fill all fields</p>
                    </div>
                    <div class="card-content table-responsive">
                              <div class="row" >
                                          <div class="col-lg-12" style= "background-color: white"; >
                                             <tr>
                                                <td>
                                                   <input class="form-control" placeholder="Survey Question" ng-model="survey.survey_question" />
                                                </td>
                                                <td>
                                                   <input class="form-control" placeholder="Survey Answer 1" type="text" ng-model="survey.survey_answer1" />
                                                </td>
                                                <td>
                                                      <input class="form-control" placeholder="Survey Answer 2" type="text" ng-model="survey.survey_answer2" />
                                                </td>
                                                <td>
                                                      <input class="form-control" placeholder="Survey Answer 3" type="text" ng-model="survey.survey_answer3" />
                                                </td>
                                                <td>
                                                   <input class="form-control" placeholder="Survey Category" ng-model="survey.survey_category" />
                                                </td>
                                             </tr>
                                          </div>
                                       </div>
                                       <div class="row" style="text-align: center; margin-top: 20px;">
                                                <div class="col-lg-12">
                                                   <td>
                                                      <div class="btn-group">
                                                         <button style= "background-color: #9dc54a" class="btn btn-primary btn-manji" ng-click="add_survey()">Add</button>
                                                         <button class="btn btn-success btn-manji" ng-click="update_survey()">Update</button>
                                                         <button class="btn btn-info btn-manji" ng-click="clear(survey)">Clear</button>
                                                      </div>
                                                   </td>
                                                </div>
                                             </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
                  <div class="col-sm-12">
                      <div class="card">
                          <div class="card-header" style="background-color: #06c0d3">
                              <h4 class="title">You can check Your surveys</h4>
                              <p class="category">Edit or Delete your survey</p>
                          </div>
                          <div class="card-content table-responsive">
                                    <div class="card-content table-responsive">
                                                <table class="table table-hover">
                                                            <thead>
                                                               <tr>
                                                                  <th>Question</th>
                                                                  <th>Answer 1</th>
                                                                  <th>Answer 2</th>
                                                                  <th>Answer 3</th>
                                                                  <th>Category</th>
                                                               </tr>
                                                            </thead>
                                                            <tbody>
                                                               <tr ng-repeat="survey in surveys_list">
                                                                  <td>{{survey.survey_question}}</td>
                                                                  <td>{{survey.survey_answer1}}</td>
                                                                  <td>{{survey.survey_answer2}}</td>
                                                                  <td>{{survey.survey_answer3}}</td>
                                                                  <td>{{survey.survey_category}}</td>
                                                                  <td>
                                                                     <div class="btn-group">
                                                                        <button class="btn btn-warning" ng-click="edit_survey(survey)">Edit</button>
                                                                        <button class="btn btn-danger" ng-click="delete_survey(survey._id)">Delete</button>
                                                                     </div>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                      </div>
                          </div>
                      </div>
                  </div>
              </div>

     







      
     

