<div class="table">
    <div class="container">
            <div class="row">
                    <div class="col-lg-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 Statistics
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Survey</th>
                                                <th>Best answer</th>
                                                <th>Best answer votes</th>
                                                <th>Total votes</th>
                                                <th>User</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd gradeX">
                                                <td>First survey</td>
                                                <td>Atif made this website</td>
                                                <td>34</td>
                                                <td class="center">52</td>
                                                <td class="center">Adzo</td>
                                            </tr>
                                            <tr class="even gradeC">
                                                <td>Second survey</td>
                                                <td>Kotorić made this website</td>
                                                <td>22</td>
                                                <td class="center">35</td>
                                                <td class="center">Atif</td>
                                            </tr>
                                            <tr class="odd gradeA">
                                                <td>Third survey</td>
                                                <td>Adzo is the best</td>
                                                <td>77</td>
                                                <td class="center">120</td>
                                                <td class="center">Demir</td>
                                            </tr>
                                            <tr class="even gradeA">
                                                <td>Fourth survey</td>
                                                <td>S8 is the best mobilephone</td>
                                                <td>500</td>
                                                <td class="center">520</td>
                                                <td class="center">Atif</td>
                                            </tr>
                                            <tr class="odd gradeA">
                                                <td>Fifth survey</td>
                                                <td>Dell made first laptop</td>
                                                <td>342</td>
                                                <td class="center">521</td>
                                                <td class="center">Asmir</td>
                                            </tr>
                                            <tr class="even gradeA">
                                                <td>Sixth survey</td>
                                                <td>Oranges aren't red</td>
                                                <td>13</td>
                                                <td class="center">19</td>
                                                <td class="center">Adzoo</td>
                                            </tr>
                                            
                                            
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>
    </div>
</div>