
                    <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header" style="background-color: #9dc54a">
                                        <h4 class="title">Statistics</h4>
                                        <p class="category">Check votes on a survey</p>
                                    </div>
                                    <div class="card-content table-responsive">
                                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                    <thead>
                                                        <tr>
                                                            <th>Survey</th>
                                                            <th>Votes</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="survey in surveys_list" class="odd gradeX">
                                                                <th>{{survey.survey_question}}</th>
                                                                <th>{{survey.vote}}</th>
                                                        </tr>
                                                        
                                                        
                                                    </tbody>
                                                </table>
                                    </div>
                                </div>
                            </div>
                        </div>
