<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to My Survey</h1>
            <div class="account-wall">
                
                    <center><img src="assets/img/logo1.png"></center>
                
                <form class="form-signin">
                <input type="text" class="form-control" placeholder="Email" ng-model="credentials.username" required autofocus>
                <input type="password" class="form-control" placeholder="Password" ng-model="credentials.password" required>
                <button  class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(credentials)" style="background-color: #9dc54a" >
                    Sign in</button>
                <a href="#" style="color: #9dc54a" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#!registration" ng-class="getClass('/register')" class="text-center new-account" style="color:#06c0d3" >Create an account </a>
        </div>
    </div>
</div>

